# 1. Database Configuration (PostgreSQL)
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_DB=odoo_erp

# 2. Storage Configuration (MinIO / S3)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# 3. Hive Metastore Configuration
HIVE_METASTORE_SERVICE_NAME=metastore
HIVE_SERVER_SERVICE_NAME=hiveserver2

# 4. Spark Cluster Configuration
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEMORY=6G
SPARK_WORKER_CORES=2
SPARK_RPC_AUTHENTICATION_ENABLED=no
SPARK_RPC_ENCRYPTION_ENABLED=no
SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
SPARK_SSL_ENABLED=no

# 5. Jupyter Notebook Configuration
JUPYTER_PORT=8888
JUPYTER_TOKEN=bigdata2024
